__pycache__/
*.py[cod]
*$py.class

*
.venv/
venv/
ENV/
pip-wheel-metadata/
pip-log.txt

build/
dist/
*.egg-info/
*.egg
.eggs/

.coverage
.coverage.*
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/
.tox/
.tox/*
.hypothesis/
*.log
logs/
.ipynb_checkpoints/
profile_default/
**/.jupyter/*
**/.local/share/jupyter/*
tmp/
temp/
*.tsv
*.parquet
*.feather
*.hdf5
*.db
.vscode/
.vscode/*
.idea/
*.iml
.DS_Store
Thumbs.db
.mypy_cache/
.dmypy.json
dmypy.json
*.spec
docs/_build/
*.cache
.cache/